footer.b-footer
    .b-footer-container
            
        <!-- build:js js/vendor.js --> 
        //bower:js
        script(src='/bower/jquery/dist/jquery.js')
        //endbower  
        <!-- endbuild -->
        
        <!-- build:js js/main.js --> 
        script(src="js/main.js")
        <!-- endbuild --> 