include _mixins/_contacts
extends layout

block title
    | index-page
    
block content
    .b-main-container
        +contacts('b-contacts', 1, ['tel', 'skype', 'mail'], ['google.ru', 'mail.ru', 'yandex.ru'])